 <div fxLayout="row wrap" fxFlex.gt-sm="50%" fxFlex.lt-md="100%" class="left-main-container">

    <div fxLayout="row wrap" fxFlex.xs="95%" fxFlex.sm="90%" fxFlex.md="92%" fxFlex.gt-md="80%"
      class="left-text-container">

      <div fxLayout="row wrap" class="speclink-label-container wow fadeInDown">
        <span class="speclink-label">SpecLink</span>
        <span class="cloud-label">Cloud</span>
      </div>

      <div fxLayout="row wrap" class="description-container wow fadeInDown">
        <span class="description-text">SpecLink Cloud is a platform designed to simplify sharing and collaborating on
          building project specifications</span>
      </div>

      <div fxLayout="row wrap" class="button-container wow fadeInDown">
        <a mat-button class="learn-more-button" href="https://bsdspeclink.com/speclink/ " target="_blank">Learn More</a>
        <a mat-button class="contact-button" href="https://go.nam.rib-software.com/l/1026683/2023-05-25/3n9y1"
          target="_blank">Contact Sales</a>
        <a mat-button class="contact-button" href="https://bsdspeclink.com/speclink-support/" target="_blank">Contact
          Support</a>
      </div>

    </div>

  </div>

  <div fxFlex.gt-sm="45%" fxFlex.lt-md="100%" fxLayoutAlign="start">
    <div class="image-container wow fadeInRight" data-wow-duration="1s">
      <img *ngIf="!isSpecDataUser" class="laptop-image" src="assets/img/slc-login-template3_new.jpg" alt="">
      <div *ngIf="isSpecDataUser" class="usg-content">
        <!-- <div class="content-header">	
          <div class="header-title">Import content from USG Corporation</div>	
          <img class="logo" src="assets/img/usg_logo.JPG" alt="USG">	
        </div>	
        <div class="content-body">	
          <p>You will need to login to Speclink Cloud to apply incoming content from USG Corporation</p>	
        </div>	 -->
        <img *ngIf="customerLogo !=''" src="assets/img/spec360/{{customerLogo}}" alt="">

      </div>
    </div>
  </div>

  <div>
    <div>
      <div fxLayout="row wrap" style="width: 100%;margin: 90px 0px;">

        <div fxLayout="row wrap" style="width: 100%; margin: 30px 0px;">

          <div fxLayout="row wrap" style="width: 100%;">

            <div fxLayout="row wrap" class="software-detail-label-container">
              <div class="software-detail-label wow fadeInDown" data-wow-offset="175">Software Features</div>
            </div>

            <div fxLayout="row wrap" class="software-detail-sublabel-container wow fadeInDown" data-wow-offset="150">
              <div class="software-detail-sublabel">Experience the power of the #1 platform to manage, create,
                collaborate,
                and centralize specifications across the design phase</div>
            </div>

          </div>

          <div fxLayout="row wrap" style="width: 100%; margin-top: 30px;" fxLayoutAlign="center center">

            <div fxLayout="row wrap" class="feature-main-container">

              <div *ngFor="let feature of [
                                {
                                  index: '1',
                                  icon: 'multiline_chart',
                                  label: 'Specification Automation',
                                  text: 'Maintain firm knowledge in a central location and use integrated intelligence to speed up editing tasks'
                                },
                                {
                                  index: '2',
                                  icon: 'dvr',
                                  label: 'BIM Integration',
                                  text: 'Enhance visibility and coordination as the design evolves by integrating Office Masters and Project Specifications directly with your Revit models.'
                                },
                                {
                                  index: '3',
                                  icon: 'people',
                                  label: 'Project Collaboration',
                                  text: 'It’s never been easier to keep your entire team on the same page throughout the design and review process'
                                },
                                {
                                  index: '4',
                                  icon: '360',
                                  label: 'Continuous Updates',
                                  text: 'Simplify content maintenance with continuous updates that seamlessly integrate into your office masters and project specifications'
                                }
                              ]" class="feature-sub-container wow fadeInUp" data-wow-offset="50">
                <div fxLayout="column" class="feature-container">
                  <div class="icon-container">
                    <mat-icon class="icon-button">{{ feature.icon }}</mat-icon>
                  </div>
                  <div class="feature-label-container">{{ feature.label }}</div>
                  <div class="feature-text-container">{{ feature.text }}</div>
                </div>
              </div>
              <!-- <div *ngFor="let feature of features" class="feature-sub-container wow fadeInUp" data-wow-offset="50">

        <div fxLayout="column" class="feature-container">

          <div class="icon-container">
            <mat-icon class="icon-button"> {{feature.icon}}</mat-icon>
          </div>

          <div class="feature-label-container">{{feature.label}}</div>

          <div class="feature-text-container">{{feature.text}}</div>

        </div>

      </div> -->

            </div>

          </div>

        </div>


       <style>
        .left-main-container{
    justify-content: center;
    align-content: center;
    max-height: 27.5vw;
}
.left-text-container{
    display: flex;
    align-content: center
}
.speclink-label-container{
   width: 100%; 
   margin: 5px 5px;
}
.speclink-label{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 400;
    font-size: 60px;
    color: #2196f3;
    padding: 1px 1px;
    margin: 2px 1px;
}
.cloud-label{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 300;
    font-size: 60px;
    color: #78909c;
    padding: 1px 1px;
    margin: 2px 1px;
}
.description-container{
    width: 100%;
    margin: 5px 5px;
}
.description-text{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    color: #78909c;
    margin: 5px 5px;
}

.button-container{
    width: 100%;
    margin: 5px 5px;
}
.learn-more-button{
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px 5px;
    outline: none;
}
.contact-button{
    background-color: #ffffff;
    color: #2196f3;
    border-radius: 5px;
    border: solid 0.5px #aaaaaa38;
    margin: 10px 5px;
    outline: none !important;
}
.image-container{
    height: auto;
    width: 95%;
}
.laptop-image{
    height: auto;
    width: 100%;
}
.usg-content{
    max-width: 670px;
    border-radius: 8px;
    min-height: 200px;
    box-shadow:3px 4px 8px rgba(0,0,0,0.19), 5px 5px 3px rgba(0,0,0,0.23);
}
.usg-content .content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;    
    margin: 0px 0 20px;
}
.usg-content .content-header .header-title{
    font-size: 22px;
    color: #78909c;
    font-weight: 500;
}
.usg-content .content-header .logo{
    width: 80px;
height: 35px;
}

.usg-content .content-body p{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    color: #78909c;
    margin: 5px 5px;
    max-width: 570px;

}
.software-detail-label-container{
    width: 100%;
    justify-content: center;
}
.software-detail-label{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 300;
    font-size: 36px;
    color: #212121;
    text-align: center;
    padding: 2px 2px;
    margin: 10px 5px;
}
.software-detail-sublabel-container{
    width: 100%;
    justify-content: center;
}
.software-detail-sublabel{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    color: #607d8b;
    text-align: center;
    padding: 2px 2px;
    margin: 10px 5px 20px 5px;
}
.feature-main-container{
    width: 85%;
    justify-content: space-around;
}
.feature-sub-container{
    margin: 5px 5px;
}
.feature-container{
    text-align: center;
    max-width: 250px;
}
.icon-container{
    padding: 2px 2px;
    margin: 5px 5px;
}
.icon-button{
    font-size: 36px;
    color: #2196f3;
    height: 36px;
    width: 36px;
}
.feature-label-container{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    text-align: center;
    padding: 2px 2px;
    margin: 5px 5px;
}
.feature-text-container{
    font-family: 'Roboto' , 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    color: #607d8b;
    text-align: center;
    padding: 2px 1px;
    margin: 5px 1px;
}
/****************************Phone Screens********************** */
@media (max-width: 600px){
    .left-main-container{
        place-content: center center;
    }
    .image-container{
        margin-top: 15px;
    }
    .speclink-label{
        font-size: 36px;
        margin: 2px 1px;
    }
    .cloud-label{
        font-size: 36px;
        margin: 3px 1px;
    }
    .description-text{
        font-size: 14px;
        margin: 2px 2px;
    }
    .button-container{
        margin: 2px 2px;
    }
    .learn-more-button{
        font-family: 'Roboto' , 'sans-serif';
        font-weight: 400;
        font-size: 14px;
    }
    .contact-button{
        font-family: 'Roboto' , 'sans-serif';
        font-weight: 400;
        font-size: 14px;
    }
    .software-detail-label{
        font-size: 30px;
        margin: 5px 5px;
    }
    .software-detail-sublabel{
        font-size: 14px;
        margin: 5px 5px;
    }
    .feature-main-container{
        width: 98%;
    }
    .feature-sub-container{
        margin: 5px 5px;
    }
    .icon-button{
        font-size: 30px;
        height: 30px;
        width: 30px;
    }
    .feature-label-container{
        font-size: 18px;
    }
    .feature-text-container{
        font-size: 13px;
    }
}
/**************************************************************** */
/****************************Tablet Screens********************** */
@media (min-width: 601px) and (max-width: 961px) {
    .left-main-container{
        place-content: center center;
    }
    .feature-main-container{
        width: 95%;
    }
    .feature-sub-container{
        margin: 5px 10px;
    }
    .software-detail-sublabel{
        margin: 10px 5px;
    }
}
/**************************************************************** */
/****************************Laptop Screens smaller********************** */
@media (min-width: 961px)and (max-width: 1279px) {

}
/**************************************************************** */
/****************************Laptop Screens larger********************** */
@media (min-width: 1280px) {

}
/**************************************************************** */

        </style>
